* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #0ec20e5d;
}

h1 {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  font-size: 45px;
}

.dictionary-table {
  position: absolute;
  width: 700px;
  height: 450px;
  padding: 130px 50px;
  /* top: 50%; */
  left: 50%;
  transform: translate(-50%, 50%);
  background-color: aliceblue;
  border-radius: 50px;
}

.search-bar {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.search-bar input {
  width: 70%;
  font-size: 32px;
  border: none;
  border-bottom: 2px solid #0e98c25d;
  outline: none;
}

.btn {
  padding: 15px 0;
  width: 15%;
  background-color: rgb(37, 65, 5);
  color: #fff;
  border: none;
}

.btn:hover {
  background-color: rgba(148, 236, 140, 0.212);
  color: #000;
}

.result {
  position: relative;

  padding-top: 30px;
}

.result .searched-word {
  display: flex;
  justify-content: space-between;
}

.searched-word h3 {
  font-size: 30px;
}

.icon {
  font-size: 20px;
  background-color: transparent;
  color: #000;
  border: none;
}
.word-detail {
  display: flex;
  gap: 10;
  color: brown;
  margin: 5px 0 20px 0;
  font-size: 14px;
}

.word-detail p {
  padding-right: 10px;
}

.meaning {
  color: rgba(165, 42, 42, 0.397);
}

.example {
  font-style: italic;
  padding-left: 20px;
  margin-top: 20px;
  border-left: 5px solid rgb(37, 65, 5);
}

.error {
  display: flex;
  justify-content: center;
  font-size: 30px;
  color: rgb(163, 16, 16);
}
